USE [master]
GO
/****** Object:  Database [CALORIAS_DB]    Script Date: 17/10/2025 2:21:07 p. m. ******/
CREATE DATABASE [CALORIAS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CALORIAS_DB', FILENAME = N'D:\aaroo\MSSQL16.MSSQLSERVER\MSSQL\DATA\CALORIAS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CALORIAS_DB_log', FILENAME = N'D:\aaroo\MSSQL16.MSSQLSERVER\MSSQL\DATA\CALORIAS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CALORIAS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CALORIAS_DB]
GO
/****** Object:  Table [dbo].[Alimentos]    Script Date: 17/10/2025 2:21:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alimentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Peso] [int] NULL,
	[Calorias] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
